
<div class="container col-9" style="margin-top: 1%; margin-left: 3%;">
    <h4 style="margin-bottom: 5%;">Edicion Habitacion</h4>
    <form [formGroup]="forma" (ngSubmit)="guardar()">
        <div class="form-group">
            <select class="custom-select custom-select-sm" formControlName="id_hotel" [class.is-invalid]="id_hotelNoValido">
                <option *ngFor="let hotel of hoteles" [value]="hotel._id">{{hotel.nombre}}</option>
            </select>
            <small *ngIf="id_hotelNoValido" class="text-danger">seleccione un hotel</small>
        </div>
        <div class="form-group">
            <label>Descripcion de la habitacion</label>
            <textarea class="form-control" formControlName="descripcion" rows="3" [class.is-invalid]="descripcionNoValido"></textarea>
            <small *ngIf="descripcionNoValido" class="text-danger">Ingrese una descripcion para la habitacion</small>
        </div>
        <div class="form-group">
            <label>Tipo de habitacion</label>
            <input type="text" class="form-control" formControlName="tipo" [class.is-invalid]="tipoNoValido">
            <small *ngIf="tipoNoValido" class="text-danger">Ingrese un tipo de habitacion</small>
        </div>
        <div class="form-group">
            <label>Precio</label>
            <input type="number" class="form-control" formControlName="precio" min="0" [class.is-invalid]="precioNoValido">
            <small *ngIf="precioNoValido" class="text-danger">Ingrese el precio de la habitacion</small>

        </div>
        <div class="form-group">
            <label>Numero de personas por habitacion</label>
            <input type="number" class="form-control" formControlName="personas" min="0" [class.is-invalid]="personasNoValido">
            <small *ngIf="personasNoValido" class="text-danger">Ingrese el numero de personas para la habitacion</small>

        </div>
        <span>Imagenes</span>
        <div class="form-group" *ngIf="seleccionandoImagenes">
            <input type="file" class="form-control d-none" accept="image/*" formControlName="imagenes" [class.is-invalid]="imagenesNoValido" #fotoInput (change)="onFileChange($event)" multiple/>
            <img *ngIf="uploadFiles.length === 0 " [src]=" 'assets/no-image.jpg'" width="200" (click)="fotoInput.click()">
            <div *ngIf="uploadFiles.length > 0">
                <img width="200" *ngFor="let item of previewUrls" [src]="item" (click)="fotoInput.click()">
            </div>
            <small *ngIf="imagenesNoValido " class="text-danger ">Debe Seleccionar minimo 2 imagenes</small>
        </div>
        <div class="form-group" *ngIf="!seleccionandoImagenes">
            <input type="file" class="form-control d-none" accept="image/*" formControlName="imagenes" [class.is-invalid]="imagenesNoValido" #fotoInput (change)="onFileChange($event)" multiple/>
            <!-- <img *ngIf="uploadFiles.length === 0" [src]=" 'assets/no-image.jpg'" width="200" > -->
            <div *ngIf="initialImages.length > 0">
                <img width="200" *ngFor="let item of initialImages" [src]="item" (click)="fotoInput.click()">
            </div>
            <small *ngIf="imagenesNoValido " class="text-danger ">Debe Seleccionar minimo 2 imagenes</small>
        </div>
        <div class="form-group">
                    
            <button type="submit"
                    [disabled]="forma.invalid"
                    class="btn btn-success submit-btn btn-block"
                    *ngIf="!cargando">
              Actualizar
            </button>

            <button type="button"
                    [disabled]="true"
                    class="btn btn-success submit-btn btn-block"
                    *ngIf="cargando">
              <i class="fa fa-spin fa-sync"></i>
              Espere...
            </button>

          </div>
    </form>
</div>
