<div style="display: inline-flex;">
    <div class="dropdown filtro mr-3">
        <a class="btn btn-secondary dropdown-toggle mb-3" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Filtro
        </a>

        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item cursor" (click)=aplicarFiltroPrimario(filtro) *ngFor="let filtro of filtrosPrimarios">{{filtro}}</a>
        </div>
    </div>

    <div class="dropdown filtro">
        <a class="btn btn-secondary dropdown-toggle mb-3" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Filtro
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item cursor" (click)=aplicarFiltroSegundario(filtro) *ngFor="let filtro of filtrosSegundario">{{filtro}}</a>
        </div>
    </div>
</div>


<div *ngIf="filtroActualSegundario=='PLANES' || filtroActualSegundario=='NINGUNO'">
    <h4 class="tipo mb-4">Reservas Planes</h4>
    <div class="row-12">
        <div class="fondo mb-5" *ngFor="let item of reservasPlanes" style="max-width: 600px;">
            <div class="row">
                <div class="col-md-12">
                    <h5>Nombre del plan: {{item?.plan[0]?.nombre}}</h5>
                    <h6 class="text-danger">Identificador: {{item?._id}}</h6>
                    <h6 class="text-gray">Nombre del usuario: {{item?.usuario[0]?.nombre +' '+ item?.usuario[0]?.apellido}}</h6>
                    <h6 class="text-gray">Correo: {{item?.usuario[0]?.email}}</h6>
                    <h6 class="text-gray">Fecha programada: {{item?.fecha}}</h6>
                    <h6 class="text-gray">Precio: {{item?.precio}}</h6>
                    <h6 class="text-gray">Número de personas: {{item?.personas}}</h6>
                    <h6 class="text-gray">Estado de la reserva: {{item?.estado}}</h6>
                    <div style="display: inline-block;">
                        <button class="btn btn-behance" (click)="editarReservaHotel(item)">Editar Reserva</button>
                    </div>
                </div>
            </div>
        </div>
        <hr>
    </div>
</div>

<div *ngIf="filtroActualSegundario=='HABITACIONES' || filtroActualSegundario=='NINGUNO'">

    <h4 class="tipo mb-4">Reservas Habitaciones</h4>
    <div class="row-12">
        <div class="fondo mb-5" *ngFor="let item of reservaHabitaciones" style="max-width: 600px;">
            <div class="row">
                <div class="col-md-12">
                    <h5>Nombre del plan: {{item?.hotel[0]?.nombre}}</h5>
                    <h5>Tipo de habitacion: {{item?.habitacion[0]?.tipo}}</h5>
                    <h6 class="text-danger">Identificador: {{item?._id}}</h6>
                    <h6 class="text-gray">Nombre del usuario: {{item?.usuario[0]?.nombre +' '+ item?.usuario[0]?.apellido}}</h6>
                    <h6 class="text-gray">Correo: {{item?.usuario[0]?.email}}</h6>
                    <h6 class="text-gray">Fecha Inicio: {{item?.fechaInicio}}</h6>
                    <h6 class="text-gray">Fecha Salida: {{item?.fechaFin}}</h6>
                    <h6 class="text-gray">Precio: {{item?.precio}}</h6>
                    <h6 class="text-gray">Número de personas: {{item?.personas}}</h6>
                    <h6 class="text-gray">Número de habitaciones: {{item?.habitaciones}}</h6>
                    <h6 class="text-gray">Estado de la reserva: {{item?.estado}}</h6>
                    <div style="display: inline-block;">
                        <button class="btn btn-behance" (click)="editarReservaHabitacion(item)">Editar Reserva</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>