<div class="container col-9" style="margin-top: 1%; margin-left: 3%;">
    <h4 style="margin-bottom: 5%;">Edicion Plan turistico</h4>
    <form [formGroup]="forma" (ngSubmit)="guardar()">
        <div class="form-group">
            <label>Nombre del plan turisitico</label>
            <input type="text" class="form-control" formControlName="nombre" [class.is-invalid]="nombreNoValido">
            <small *ngIf="nombreNoValido" class="text-danger">Ingrese un nombre al plan turistico</small>
        </div>
        <div class="form-group">
            <label>Descripcion del plan</label>
            <textarea class="form-control" formControlName="descripcion" rows="3" [class.is-invalid]="descripcionNoValido"></textarea>
            <small *ngIf="descripcionNoValido" class="text-danger">Ingrese una descripcion al plan turistico</small>

        </div>
        <div class="form-group">
            <label>Ubicacion</label>
            <input type="text" class="form-control" formControlName="ubicacion" [class.is-invalid]="ubicacionNoValido">
            <small *ngIf="ubicacionNoValido" class="text-danger">Ingrese la ubicacion del plan turistico</small>
        </div>
        <div class="form-group" formGroupName="coordenadas">
            <label class="">Coordenadas</label>
            <div class="form-row col">
                <div class="col">
                    <input type="number" class="form-control" placeholder="latitud" formControlName="latitud" [class.is-invalid]="coordenadasNoValido">
                </div>
                <div class="col">
                    <input type="number" class="form-control" placeholder="longitud" formControlName="longitud" [class.is-invalid]="coordenadasNoValido">
                </div>
            </div>
            <small *ngIf="coordenadasNoValido" class="text-danger">Ingrese las coordenadas del plan turistico</small>

        </div>
        <div class="form-group">
            <label>Duracion</label>
            <input type="text" class="form-control" formControlName="duracion" [class.is-invalid]="duracionNoValido">
            <small *ngIf="duracionNoValido" class="text-danger">Ingrese una duracion al plan turistico</small>
        </div>
        <div class="form-group">
            <label>Hora de inicio</label>
            <input type="time" class="form-control" formControlName="hora_inicio" [class.is-invalid]="horaInicioNoValido">
            <small *ngIf="horaInicioNoValido" class="text-danger">Ingrese una hora de inicio para el plan turistico</small>
        </div>
        <div class="form-group">
            <label>Hora de finalizacion</label>
            <input type="time" class="form-control" formControlName="hora_fin" [class.is-invalid]="horaFinNoValido">
            <small *ngIf="horaFinNoValido" class="text-danger">Ingrese una hora de finalizacion para el plan turistico</small>
        </div>
        <div class="form-group">
            <label>Precio</label>
            <input type="number" class="form-control" formControlName="precio" [class.is-invalid]="precioNoValido">
            <small *ngIf="precioNoValido" class="text-danger">Ingrese el precio del plan turistico debido al numero de personas</small>

        </div>
        <div class="form-group">
            <label>Numero de personas</label>
            <input type="number" class="form-control" formControlName="personas" min="0" [class.is-invalid]="personasNoValido">
            <small *ngIf="personasNoValido" class="text-danger">Ingrese el numero de personas que aplica el plan turistico debido al precio</small>

        </div>

        <div class="row">
            <div class="col">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th>#</th>
                            <th>Servicio</th>
                            <th>Borrar</th>
                        </tr>
                    </thead>
                    <tbody formArrayName="servicios">
                        <tr *ngFor="let item of servicios.controls; let i = index">
                            <td>{{i+1}}</td>
                            <td>

                                <input class="form-control" type="text" [formControlName]="i" [class.is-invalid]="serviciosNoValido">
                                <small *ngIf="serviciosNoValido" class="text-danger">Debe ingresar un servicio</small>

                            </td>
                            <td>
                                <button class="btn btn-danger" type="button" (click)="borrarServicio(i)">Borrar</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <button class="btn btn-primary mt-3 mb-3 btn-block" type="button" (click)="agregarServicio()">Agregar</button>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th>#</th>
                            <th>Servicios Extra</th>
                            <th>Borrar</th>
                        </tr>
                    </thead>
                    <tbody formArrayName="servicios_extra">
                        <tr *ngFor="let item of serviciosExtra.controls; let i = index">
                            <td>{{i+1}}</td>
                            <td>

                                <input class="form-control" type="text" [formControlName]="i" [class.is-invalid]="serviciosExtraNoValido">
                                <small *ngIf="serviciosExtraNoValido" class="text-danger">Debe ingresar un servicio extra</small>

                            </td>
                            <td>
                                <button class="btn btn-danger" type="button" (click)="borrarServicioExtra(i)">Borrar</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <button class="btn btn-primary mt-3 mb-3 btn-block" type="button" (click)="agregarServicioExtra()">Agregar</button>
            </div>
        </div>
        <div class="form-group">
            <label>Punto de encuentro</label>
            <textarea class="form-control" formControlName="punto_encuentro" rows="2" [class.is-invalid]="puntoEncuentroNoValido"></textarea>
            <small *ngIf="puntoEncuentroNoValido" class="text-danger">Ingrese el punto de encuentro del plan turistico</small>
        </div>

        <span>Imagenes</span>
        <div class="form-group" *ngIf="seleccionandoImagenes">
            <input type="file" class="form-control d-none" accept="image/*" formControlName="imagenes" [class.is-invalid]="imagenesNoValido" #fotoInput (change)="onFileChange($event)" multiple/>
            <img *ngIf="uploadFiles.length === 0" [src]=" 'assets/no-image.jpg'" width="200" (click)="fotoInput.click()">
            <div *ngIf="uploadFiles.length > 0">
                <img width="200" *ngFor="let item of previewUrls" [src]="item" (click)="fotoInput.click()">
            </div>
            <small *ngIf="imagenesNoValido " class="text-danger ">Debe Seleccionar minimo 2 imagenes</small>
        </div>
        <div class="form-group" *ngIf="!seleccionandoImagenes">
            <input type="file" class="form-control d-none" accept="image/*" formControlName="imagenes" [class.is-invalid]="imagenesNoValido" #fotoInput (change)="onFileChange($event)" multiple/>
            <!-- <img *ngIf="uploadFiles.length === 0" [src]=" 'assets/no-image.jpg'" width="200" > -->
            <div *ngIf="initialImages.length > 0">
                <img width="200" *ngFor="let item of initialImages" [src]="item" (click)="fotoInput.click()">
            </div>
            <small *ngIf="imagenesNoValido " class="text-danger ">Debe Seleccionar minimo 2 imagenes</small>
        </div>
        <div class="row">
            <div class="col">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th>#</th>
                            <th>Recomendaciones</th>
                            <th>Borrar</th>
                        </tr>
                    </thead>
                    <tbody formArrayName="recomendaciones">
                        <tr *ngFor="let item of recomendaciones.controls; let i = index">
                            <td>{{i+1}}</td>
                            <td>
                                <input class="form-control" type="text" [formControlName]="i" [class.is-invalid]="recomendacionesNoValido">
                                <small *ngIf="recomendacionesNoValido" class="text-danger">Debe ingresar una recomendacion</small>
                            </td>
                            <td>
                                <button class="btn btn-danger" type="button" (click)="borrarRecomendacion(i)">Borrar</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <button class="btn btn-primary mt-3 mb-3 btn-block" type="button" (click)="agregarRecomendacion()">Agregar</button>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th>#</th>
                            <th>Observaciones</th>
                            <th>Borrar</th>
                        </tr>
                    </thead>
                    <tbody formArrayName="observaciones">
                        <tr *ngFor="let item of observaciones.controls; let i = index">
                            <td>{{i+1}}</td>
                            <td>
                                <input class="form-control" type="text" [formControlName]="i" [class.is-invalid]="observacionesNoValido">
                                <small *ngIf="observacionesNoValido" class="text-danger">Debe ingresar una observacion</small>
                            </td>
                            <td>
                                <button class="btn btn-danger" type="button" (click)="borrarObservacion(i)">Borrar</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <button class="btn btn-primary mt-3 mb-3 btn-block" type="button" (click)="agregarObservacion()">Agregar</button>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th>Dia</th>
                            <th>Itinerario</th>
                            <th>Borrar</th>
                        </tr>
                    </thead>
                    <tbody formArrayName="itinerario">
                        <tr *ngFor="let item of itinerario.controls; let i = index">
                            <td>{{i+1}}</td>
                            <td>
                                <textarea class="form-control" type="text" [formControlName]="i"></textarea>
                            </td>
                            <td>
                                <button class="btn btn-danger" type="button" (click)="borrarItinerario(i)">Borrar</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <button class="btn btn-primary mt-3 mb-3 btn-block" type="button" (click)="agregarItinerario()">Agregar</button>
            </div>
        </div>
        <div class="form-group">
            <label>Nombre del sitio</label>
            <input type="text" class="form-control" formControlName="sitio" [class.is-invalid]="sitioNoValido">
            <small *ngIf="sitioNoValido" class="text-danger">Ingrese el nombre del sitio donde se encuentra el plan turistico</small>
        </div>
        <span>Categoria</span>
        <div class="form-group">
            <select class="custom-select custom-select-sm" formControlName="categoria" [class.is-invalid]="categoriaNoValido">
                <option value="ROMANTICO">Romantico</option>
                <option value="AVENTURA">Aventura</option>
                <option value="NATURALEZA">Naturaleza</option>
                <option value="PARQUES_TEMATICOS">Parques Tematicos</option>
                <option value="CULTURA">Cultura</option>
                <option value="SALUD_BIENESTAR">Salud y Bienestar</option>                
            </select>
            <small *ngIf="categoriaNoValido" class="text-danger">seleccione una categoria</small>

        </div>
        <div class="form-group">

            <button type="submit" [disabled]="forma.invalid" class="btn btn-success submit-btn btn-block" *ngIf="!cargando">
              Actualizar
            </button>

            <button type="button" [disabled]="true" class="btn btn-success submit-btn btn-block" *ngIf="cargando">
              <i class="fa fa-spin fa-sync"></i>
              Espere...
            </button>

        </div>
    </form>
</div>