<h2>Reportes</h2>


<h4 class="tipo" style="color: orangered;">Plan más reservado</h4>

<div class="row">
    <div class="fondo mb-3" style="max-width: 600px;">
        <div class="row">
            <div class="col-md-4 image">
                <img [src]="planTop?.imagenes[0]" class="card-img" style="margin-top: 20px;">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">{{planTop?.nombre}}</h5>
                    <div class="row-3" style="margin-top: -15px;">
                        <i class="fas fa-map-marker-alt text-behance" style="display: inline-block;"></i>
                        <h6 class="ubicacion" style="display: inline-block;margin-left: 5px">Ubicación:
                            {{planTop?.ubicacion}}</h6>

                    </div>
                    <div>
                        <i class="fa fa-money-bill-alt text-success"></i> Precio: {{planTop?.precio|currency}}
                    </div>
                    <div class="row-3" style="display: inline;">
                        <div *ngIf="planTop?.estado===false">
                            <i class="fas fa-dot-circle text-danger"></i> Estado: Inactivo
                        </div>
                        <div *ngIf="planTop?.estado===true">
                            <i class="fas fa-dot-circle text-success"></i> Estado: Activo
                        </div>
                    </div>
                    <div>
                        <i class="fas fa-star text-success" style="display: inline-block"></i>
                        <p *ngIf="planTop?.calificacion > 0"
                            style="display: inline-block;margin-left: 5px; font-size: medium;">Calificación:
                            {{planTop?.calificacion | number: '.0-1'}}</p>
                        <p *ngIf="!planTop?.calificacion"
                            style="display: inline-block;margin-left: 5px; font-size: medium;">Calificación: Sin
                            calificaciones aún</p>

                    </div>
                    <div>
                        <i class="fa fa-receipt"></i> Numero de reservas realizadas: {{planTopCount}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<h4 class="tipo" style="color: orangered;">Habitacion más reservada</h4>
<div class="row">
    <div class="fondo mb-3" style="max-width: 600px;">
        <div class="row">
            <div class="col-md-4 image">
                <img [src]="habitacionTop?.imagenes[0]" class="card-img" style="max-height: 250px;">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Habitación: {{habitacionTop?.tipo}}</h5>
                    <h6 class="card-title" style="margin-top: -10px;">Hotel: {{hotelTop?.nombre}}</h6>
                    <div class="row-3" style="margin-top: -15px;">
                        <i class="fas fa-male text-behance" style="display: inline-block;"></i>
                        <h6 class="personas" style="display: inline-block;margin-left: 5px">Numero de personas:
                            {{habitacionTop?.personas}}</h6>

                    </div>
                    <div>
                        <i class="fa fa-money-bill-alt text-success"></i> Precio: {{habitacionTop?.precio|currency}}
                    </div>
                    <div class="row-3" style="display: inline;">
                        <div *ngIf="habitacionTop?.estado===false">
                            <i class="fas fa-dot-circle text-danger"></i> Estado: Inactivo
                        </div>
                        <div *ngIf="habitacionTop?.estado===true">
                            <i class="fas fa-dot-circle text-success"></i> Estado: Activo
                        </div>
                        <div>
                            <i class="fa fa-receipt"></i> Numero de reservas realizadas: {{habitacionTopCount}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<hr> Selecciona un filtro
<div class="dropdown filtro">
    <a class="btn btn-secondary dropdown-toggle mb-3" href="#" role="button" id="dropdownMenuLink"
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Filtro
    </a>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <a class="dropdown-item cursor" (click)=aplicarFiltroPrimario(filtro)
            *ngFor="let filtro of filtrosPrimario">{{filtro}}</a>
    </div>
</div>

<div *ngIf="filtroActualPrimario==='PLANES'">

    <h4 class="tipo mb-4">Selecciona un plan</h4>

    <div class="dropdown filtro">
        <a class="btn btn-secondary dropdown-toggle mb-3" href="#" role="button" id="dropdownMenuLink"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Planes
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item cursor" (click)=mostrarInfoPlan(plan)
                *ngFor="let plan of planes">{{plan.nombre}}</a>
        </div>
    </div>

    <div class="row-12">
        <div class="fondo mb-5" style="max-width: 600px;">
            <div class="row">
                <div class="col-md-12">
                    <h5>Nombre del plan: {{plan?.nombre}}</h5>
                    <h6 class="text-gray">Número de veces reservado: {{reservaLength}}</h6>
                    <h6 class="text-gray">Número de reservas activas: {{reservasActivas}}</h6>
                    <h6 class="text-gray">Número de reservas canceladas: {{reservasCanceladas}}</h6>
                    <h6 class="text-gray">Número de reservas finalizadas: {{reservasFinalizadas}}</h6>
                </div>
            </div>
        </div>
        <hr>
    </div>
</div>


<div *ngIf="filtroActualPrimario==='HABITACIONES'">

    <h4 class="tipo mb-4">Selecciona un hotel</h4>

    <div class="dropdown filtro">
        <a class="btn btn-secondary dropdown-toggle mb-3" href="#" role="button" id="dropdownMenuLink"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Hotel
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item cursor" (click)=mostrarInfoReservaHotel(hotel)
                *ngFor="let hotel of hoteles">{{hotel.nombre}}</a>
        </div>
    </div>

    <div class="row-12">
        <div class="fondo mb-5" style="max-width: 600px;">
            <div class="row">
                <div class="col-md-12">
                    <h5>Nombre del hotel: {{hotel?.nombre}}</h5>
                    <h6 class="text-gray">Número de veces reservado: {{reservaLength}}</h6>
                    <h6 class="text-gray">Número de reservas activas: {{reservasActivas}}</h6>
                    <h6 class="text-gray">Número de reservas canceladas: {{reservasCanceladas}}</h6>
                    <h6 class="text-gray">Número de reservas finalizadas: {{reservasFinalizadas}}</h6>
                </div>
            </div>
        </div>
    </div>
    Selecciona una habitacion
    <div class="dropdown filtro">
        <a class="btn btn-secondary dropdown-toggle mb-3" href="#" role="button" id="dropdownMenuLink"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Habitacion
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item cursor" (click)=mostrarInfoReservaHabitacion(habitacion)
                *ngFor="let habitacion of habitacionesFiltradas">{{habitacion?.tipo}}</a>
        </div>
    </div>

    <div class="row-12">
        <div class="fondo mb-5" style="max-width: 600px;">
            <div class="row">
                <div class="col-md-12">
                    <h5>Nombre de la habitacion: {{habitacion?.tipo}}</h5>
                    <h6 class="text-gray">Número de veces reservado: {{reservaHabitacionesLength}}</h6>
                    <h6 class="text-gray">Número de reservas activas: {{reservasHabitacionesActivas}}</h6>
                    <h6 class="text-gray">Número de reservas canceladas: {{reservasHabitacionesCanceladas}}</h6>
                    <h6 class="text-gray">Número de reservas finalizadas: {{reservasHabitacionesFinalizadas}}</h6>
                </div>
            </div>
        </div>
    </div>
</div>