

   <div class="page-body-wrapper full-page-wrapper auth-page">
        <div class="content-wrapper d-flex align-items-center auth auth-bg-1 theme-one">
          <div class="row w-100">
            <div class="col-lg-4 mx-auto">
              <h2 class="text-center mb-4" style="color: white;">Ingresar</h2>
              <div class="auto-form-wrapper">
                
                <form [formGroup]="loginForm" (ngSubmit)="login()">
                  <div class="form-group">
                    <label class="label">Email</label>
                    <div class="input-group">
  
                      <input type="email"
                             class="form-control"
                             formControlName="email"
                             placeholder="Email">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="label">Contraseña</label>
                    <div class="input-group">
                      
                      <input type="password"
                             class="form-control"
                             formControlName="password"
                             placeholder="*********">
                    </div>
                  </div>
                  <div class="form-group">
                    
                    <button type="submit"
                            [disabled]="loginForm.invalid"
                            class="btn btn-primary submit-btn btn-block"
                            *ngIf="!cargando">
                      Login
                    </button>
  
                    <button type="button"
                            [disabled]="true"
                            class="btn btn-primary submit-btn btn-block"
                            *ngIf="cargando">
                      <i class="fa fa-spin fa-sync"></i>
                      Espere...
                    </button>
  
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <!-- content-wrapper ends -->
      </div>

    