<h4 class="tipo mb-4">Edicion de la reserva</h4>
<form [formGroup]="forma" (ngSubmit)="editarReservaHabitacion()">
    <div class="row-12">
        <div class="fondo mb-5" style="max-width: 600px;">
            <div class="row">
                <div class="col-md-12">
                    <h5>Nombre del plan: {{reserva?.hotel[0]?.nombre}}</h5>
                    <h5>Tipo habitacion: {{reserva?.habitacion[0]?.tipo}}</h5>
                    <h6 class="text-danger">Identificador: {{reserva?._id}}</h6>
                    <h6 class="text-gray">Nombre del usuario: {{reserva?.usuario[0]?.nombre +' '+ reserva?.usuario[0]?.apellido}}</h6>
                    <h6 class="text-gray">Correo: {{reserva?.usuario[0]?.email}}</h6>
                    <h6 class="text-gray">Fecha Inicio: {{reserva?.fechaInicio}}</h6>
                    <h6 class="text-gray">Fecha Salida: {{reserva?.fechaFin}}</h6>
                    <h6 class="text-gray">Precio: {{reserva?.precio}}</h6>
                    <h6 class="text-gray">Número de personas: {{reserva?.personas}}</h6>
                    <h6 class="text-gray">Número de habitaciones: {{reserva?.habitaciones}}</h6>
                    <h6 class="text-gray">Estado de la reserva: {{reserva?.estado}}</h6>
                    <div style="display: inline-block;">
                        <div class="form-group">
                            <select class="custom-select custom-select-sm" formControlName="estado" style="margin-left: 0px;">
                            <option value="ACTIVO">ACTIVO</option>
                            <option value="CANCELADO">CANCELADO</option>
                            <option value="FINALIZADO">FINALIZADO</option>
                        </select>
                        </div>
                        <button class="btn btn-behance" type="submit">Editar Reserva</button>
                        <button type="button" [disabled]="true" class="btn btn-success submit-btn btn-block" *ngIf="cargando">
                    <i class="fa fa-spin fa-sync"></i>
                    Espere...
                </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>