.ubicacion{
    margin-top: -10px;
    font-size: small;
}
.personas{
    font-size: medium;
}
.fondo{
    background-color: white;
}
.image{
    display: block;
    margin: auto;
}
.filtro{
    margin-bottom: 30px;
    margin-left: -10px;
}

.tipo{
    margin-left: -10px;
}