<div class="dropdown filtro">
    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Filtro
    </a>

    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <a class="dropdown-item cursor" (click)=aplicarFiltro(filtro) *ngFor="let filtro of filtroLista">{{filtro}}</a>
    </div>
</div>
<div *ngIf="filtroActual==='planes' || filtroActual==='ninguno'">
    <h4 class="tipo">Planes Turisticos</h4>
    <div class="row">
        <div class="fondo mb-3" *ngFor="let plan of planes" style="max-width: 600px;">
            <div class="row">
                <div class="col-md-4 image">
                    <img [src]="plan.imagenes[0]" class="card-img">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">{{plan?.nombre}}</h5>
                        <div class="row-3" style="margin-top: -15px;">
                            <i class="fas fa-map-marker-alt text-behance" style="display: inline-block;"></i>
                            <h6 class="ubicacion" style="display: inline-block;margin-left: 5px">Ubicación: {{plan?.ubicacion}}</h6>

                        </div>
                        <div>
                            <i class="fa fa-money-bill-alt text-success"></i> Precio: {{plan?.precio|currency}}
                        </div>
                        <div class="row-3" style="display: inline;">
                            <div *ngIf="plan.estado===false">
                                <i class="fas fa-dot-circle text-danger"></i> Estado: Inactivo
                            </div>
                            <div *ngIf="plan.estado===true">
                                <i class="fas fa-dot-circle text-success"></i> Estado: Activo
                            </div>
                        </div>
                        <div>
                            <i class="fas fa-star text-success" style="display: inline-block"></i>
                            <p *ngIf="plan.calificacion > 0" style="display: inline-block;margin-left: 5px; font-size: medium;">Calificación: {{plan?.calificacion | number: '.0-1'}}</p>
                            <p *ngIf="!plan.calificacion" style="display: inline-block;margin-left: 5px; font-size: medium;">Calificación: Sin calificaciones aún</p>

                        </div>
                        <div style="margin-top: 10px;">
                            <button class="btn btn-behance" (click)="eliminarPlan(plan)">Eliminar Plan</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="filtroActual==='hoteles' || filtroActual==='ninguno'">
    <h4 class="tipo">Hoteles</h4>
    <div class="row">
        <div class="fondo mb-3" *ngFor="let hotel of hoteles" style="max-width: 600px;">
            <div class="row">
                <div class="col-md-4 image">
                    <img [src]="hotel.imagenes[0]" class="card-img">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">{{hotel?.nombre}}</h5>
                        <div class="row-3" style="margin-top: -15px; display: inline-flex;">
                            <i class="fas fa-map-marker-alt text-behance"></i>
                            <h6 class="ubicacion">Ubicación: {{hotel?.ubicacion}}</h6>

                        </div>
                        <div class="row-3" style="display: inline;">
                            <div *ngIf="hotel.estado===false">
                                <i class="fas fa-dot-circle text-danger"></i> Estado: Inactivo
                            </div>
                            <div *ngIf="hotel.estado===true">
                                <i class="fas fa-dot-circle text-success"></i> Estado: Activo
                            </div>
                        </div>
                        <div>
                            <i class="fas fa-star text-success" style="display: inline-block"></i>
                            <p *ngIf="hotel.calificacion > 0" style="display: inline-block;margin-left: 5px; font-size: medium;">Calificación: {{hotel?.calificacion | number: '.0-1'}}</p>
                            <p *ngIf="!hotel.calificacion" style="display: inline-block;margin-left: 5px; font-size: medium;">Calificación: Sin calificaciones aún</p>

                        </div>
                        <div style="margin-top: 10px;">
                            <button class="btn btn-behance" (click)="eliminarHotel(hotel)">Eliminar Hotel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="filtroActual==='habitaciones' || filtroActual==='ninguno'">
    <h4 class="tipo">Habitaciones</h4>
    <div class="row">
        <div class="fondo mb-3" *ngFor="let habitacion of habitaciones" style="max-width: 600px;">
            <div class="row">
                <div class="col-md-4 image">
                    <img [src]="habitacion.imagenes[0]" class="card-img">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">{{habitacion?.tipo}}</h5>
                        <div class="row-3" style="margin-top: -15px;">
                            <i class="fas fa-male text-behance" style="display: inline-block;"></i>
                            <h6 class="personas" style="display: inline-block;margin-left: 5px">Numero de personas: {{habitacion?.personas}}</h6>

                        </div>
                        <div>
                            <i class="fa fa-money-bill-alt text-success"></i> Precio: {{habitacion?.precio|currency}}
                        </div>
                        <div class="row-3" style="display: inline;">
                            <div *ngIf="habitacion.estado===false">
                                <i class="fas fa-dot-circle text-danger"></i> Estado: Inactivo
                            </div>
                            <div *ngIf="habitacion.estado===true">
                                <i class="fas fa-dot-circle text-success"></i> Estado: Activo
                            </div>
                        </div>
                        <div style="margin-top: 10px;">
                            <button class="btn btn-behance" (click)="eliminarHabitacion(habitacion)">Eliminar Habitacion</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="filtroActual==='restaurantes' || filtroActual==='ninguno' && restaurantes.length>0">
    <h4 class="tipo">Restaurantes</h4>
    <div class="row">
        <div class="fondo mb-3" *ngFor="let restaurante of restaurantes" style="max-width: 600px;">
            <div class="row">
                <div class="col-md-4 image">
                    <img [src]="restaurante.imagenes[0]" class="card-img">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">{{restaurante?.nombre}}</h5>
                        <div class="row-3" style="margin-top: -15px; display: inline-flex;">
                            <i class="fas fa-map-marker-alt text-behance"></i>
                            <h6 class="ubicacion">Ubicación: {{restaurante?.ubicacion}}</h6>

                        </div>
                        <div class="row-3" style="display: inline;">
                            <div *ngIf="restaurante.estado===false">
                                <i class="fas fa-dot-circle text-danger"></i> Estado: Inactivo
                            </div>
                            <div *ngIf="restaurante.estado===true">
                                <i class="fas fa-dot-circle text-success"></i> Estado: Activo
                            </div>
                        </div>
                        <div>
                            <i class="fas fa-star text-success" style="display: inline-block"></i>
                            <p *ngIf="restaurante.calificacion > 0" style="display: inline-block;margin-left: 5px; font-size: medium;">Calificación: {{restaurante?.calificacion | number: '.0-1'}}</p>
                            <p *ngIf="!restaurante.calificacion" style="display: inline-block;margin-left: 5px; font-size: medium;">Calificación: Sin calificaciones aún</p>

                        </div>
                        <div style="margin-top: 10px;">
                            <button class="btn btn-behance" (click)="eliminarRestaurante(restaurante)">Eliminar Hotel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>