<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top d-flex flex-row">
    <a class="navbar-brand" [routerLink]="'/'">Turist App</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item cursor" routerLinkActive="active" [routerLink]="['/formularioPlan']">
                <a class="nav-link">Añadir Plan</a>
            </li>
            <li class="nav-item cursor" routerLinkActive="active" [routerLink]="['/formularioHotel']">
                <a class="nav-link">Añadir Hotel</a>
            </li>
            <li class="nav-item cursor" routerLinkActive="active" [routerLink]="['/formularioHabitacion']">
                <a class="nav-link">Añadir Habitacion</a>
            </li>
            <li class="nav-item cursor" routerLinkActive="active" [routerLink]="['/formularioRestaurante']">
                <a class="nav-link">Añadir Restaurante</a>
            </li>
        </ul>
    </div>
</nav>