<nav class="sidebar sidebar-offcanvas">
    <ul class="nav">
      <li class="nav-item nav-profile">
        <div class="nav-link">
          
          <div class="user-wrapper">
            <div class="profile-image">
              <img src="assets/images/faces-clipart/1.jpg" alt="profile image">
            </div>
            
            <div class="text-wrapper">
              <p class="profile-name esignation text-muted"> Turist App</p>
              <div>
                <small class="designation text-muted">Admin</small>
              </div>
            </div>
          </div>
          
        </div>
      </li>
  
      <li class="nav-item">
        <a routerLink="/" class="nav-link">
          <i class="menu-icon fa fa-home"></i>
          <span class="menu-title">Home</span>
        </a>
      </li>
  
      <li class="nav-item">
        <a routerLink="/editar" class="nav-link">
          <i class="menu-icon fa fa-clipboard-list"></i>
          <span class="menu-title">Editar</span>
        </a>
      </li>
  
      <li class="nav-item">
        <a routerLink="/eliminar" class="nav-link">
          <i class="menu-icon fa fa-trash"></i>
          <span class="menu-title">Eliminar</span>
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="/reservas" class="nav-link">
          <i class="menu-icon fa fa-receipt"></i>
          <span class="menu-title">Reservas</span>
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="/reportes" class="nav-link">
          <i class="menu-icon fa fa-file-alt"></i>
          <span class="menu-title">Reportes</span>
        </a>
      </li>
  
      <li class="nav-item">
        <a (click)="logout()" class="nav-link cursor">
          <i class="menu-icon fa fa-sign-out-alt"></i>
          <span class="menu-title">Cerrar sesión</span>
        </a>
      </li>
      
    </ul>
  </nav>
