<div class="container col-9" style="margin-top: 1%; margin-left: 3%;">
    <h4 style="margin-bottom: 5%;">Edicion Hotel</h4>
    <form [formGroup]="forma" (ngSubmit)="guardar()">
        <div class="form-group">
            <label>Nombre del hotel</label>
            <input type="text" class="form-control" formControlName="nombre" [class.is-invalid]="nombreNoValido">
            <small *ngIf="nombreNoValido" class="text-danger">Ingrese un nombre para el hotel</small>
        </div>
        <div class="form-group">
            <label>Descripcion del hotel</label>
            <textarea class="form-control" formControlName="descripcion" rows="3"
                [class.is-invalid]="descripcionNoValido"></textarea>
            <small *ngIf="descripcionNoValido" class="text-danger">Ingrese una descripcion para el hotel</small>
        </div>
        <div class="form-group" formGroupName="checkIn">
            <label class="">Check-In</label>
            <div class="form-row col">
                <div class="col">
                    <input type="time" class="form-control" placeholder="desde" formControlName="desde"
                        [class.is-invalid]="checkInValido">
                </div>
                <div class="col">
                    <input type="time" class="form-control" placeholder="hasta" formControlName="hasta"
                        [class.is-invalid]="checkInValido">
                </div>
            </div>
            <small *ngIf="checkInValido" class="text-danger">Ingrese el campo</small>
        </div>
        <div class="form-group" formGroupName="checkOut">
            <label class="">Check-In</label>
            <div class="form-row col">
                <div class="col">
                    <input type="time" class="form-control" placeholder="desde" formControlName="desde"
                        [class.is-invalid]="checkOutValido">
                </div>
                <div class="col">
                    <input type="time" class="form-control" placeholder="hasta" formControlName="hasta"
                        [class.is-invalid]="checkOutValido">
                </div>
            </div>
            <small *ngIf="checkOutValido" class="text-danger">Ingrese el campo</small>
        </div>
        <div class="form-group">
            <label>Ubicacion</label>
            <input type="text" class="form-control" formControlName="ubicacion" [class.is-invalid]="ubicacionNoValido">
            <small *ngIf="ubicacionNoValido" class="text-danger">Ingrese la ubicacion para el hotel</small>
        </div>
        <div class="form-group">
            <label>Calificación</label>
            <input type="number" class="form-control" formControlName="calificacion" [class.is-invalid]="calificacionValido">
            <small *ngIf="calificacionValido" class="text-danger">Ingrese una calificación inicial para el hotel</small>
        </div>
        <div class="form-group" formGroupName="coordenadas">
            <label class="">Coordenadas</label>
            <div class="form-row col">
                <div class="col">
                    <input type="number" class="form-control" placeholder="latitud" formControlName="latitud"
                        [class.is-invalid]="coordenadasNoValido">
                </div>
                <div class="col">
                    <input type="number" class="form-control" placeholder="longitud" formControlName="longitud"
                        [class.is-invalid]="coordenadasNoValido">
                </div>
            </div>
            <small *ngIf="coordenadasNoValido" class="text-danger">Ingrese las coordenadas para el hotel</small>
        </div>
        <span>Categoria</span>
        <div class="form-group">
            <input type="text" class="form-control" formControlName="categoria" [class.is-invalid]="categoriaNoValido">
            <small *ngIf="categoriaNoValido" class="text-danger">Ingrese una categoria para el hotel</small>
        </div>
        <span>Imagenes</span>
        <div class="form-group" *ngIf="seleccionandoImagenes">
            <input type="file" class="form-control d-none" accept="image/*" formControlName="imagenes"
                [class.is-invalid]="imagenesNoValido" #fotoInput (change)="onFileChange($event)" multiple />
            <img *ngIf="uploadFiles.length === 0" [src]=" 'assets/no-image.jpg'" width="200"
                (click)="fotoInput.click()">
            <div *ngIf="uploadFiles.length > 0">
                <img width="200" *ngFor="let item of previewUrls" [src]="item" (click)="fotoInput.click()">
            </div>
            <small *ngIf="imagenesNoValido " class="text-danger ">Debe Seleccionar minimo 2 imagenes</small>
        </div>
        <div class="form-group" *ngIf="!seleccionandoImagenes">
            <input type="file" class="form-control d-none" accept="image/*" formControlName="imagenes"
                [class.is-invalid]="imagenesNoValido" #fotoInput (change)="onFileChange($event)" multiple />
            <!-- <img *ngIf="uploadFiles.length === 0" [src]=" 'assets/no-image.jpg'" width="200" > -->
            <div *ngIf="initialImages.length > 0">
                <img width="200" *ngFor="let item of initialImages" [src]="item" (click)="fotoInput.click()">
            </div>
            <small *ngIf="imagenesNoValido " class="text-danger ">Debe Seleccionar minimo 2 imagenes</small>
        </div>
        <div class="form-group">

            <button type="submit" [disabled]="forma.invalid" class="btn btn-success submit-btn btn-block"
                *ngIf="!cargando">
                Actualizar
            </button>

            <button type="button" [disabled]="true" class="btn btn-success submit-btn btn-block" *ngIf="cargando">
                <i class="fa fa-spin fa-sync"></i>
                Espere...
            </button>

        </div>
    </form>
</div>