<div class="reserva" > 
    <h3 style="text-align: left;margin-top: 20px;">Turist App</h3>
    <hr>
    <h4>Hola Bernardo</h4>
    <p style="margin-top: 10%;">Muchas gracias por tu reserva. Ya quedó lista</p>
    <p>Aquí un resumen de tu reserva</p>
    <ul style="margin-bottom: 30px;">
        <li >
            <p class="items">Nombre del plan: asdasd</p>
        </li>
        <li >
            <p class="items">Ubicación: asdasd</p>
        </li>
        <li >
            <p class="items">Nombre del plan: asdasd</p>
        </li>
        <li >
            <p class="items">Precio: 1800000</p>
        </li>
        <li >
            <p class="items">Número de personas: 1</p>
        </li>
        <li >
            <p class="items">Fecha: 01/20/15</p>
        </li>
        <li >
            <p class="items">Estado de la reserva: ACTIVA</p>
        </li>
        <li >
            <p class="items">Información de contacto: 13545641</p>
        </li>
    </ul>
</div>
