.reserva{
    width: 80%;
    height: 30%;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    border-top-color: green;
    border-top-width: 5px;
    border-top-style: solid;
    border-bottom-width: 5px;
    border-bottom-style: solid;
    border-bottom-color: gray
    
}
.items{
    margin-bottom: 1px;
    margin-top: 1px;
}